/* html,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;

} */

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .main {
  padding: 8px;
} */

/* .task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
} */
