#main {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* max-height: 2550px; */
  /* height: 1800px; */
  height: fit-content;
  width: 60vw;
  top: 5vh;
  left: 20vw;
  /* Added margin-bottom 50rem below to push the pictures down below the scrolling 
    side panel for testing.. Comment or remove margin as needed */
  /* margin-bottom: 50rem; */
  /* outline: solid thin red; */
}

/* Image Gallery Component ////////////////////////////////////////////////// */
#imageGallery {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  top: 3vh;
  height: 670px;
  width: 33.5vw;
  /* outline: thin solid blue; */
}
/* scroll //////////////////////////////////////////////*/
#imageScroll {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 670px;
  width: 5vw;
  /* outline: thin solid red; */
  overflow: scroll;
}
#imageScroll::-webkit-scrollbar {
  display: none;
}
.tinyImg {
  position: relative;
  left: 0.6vw;
  height: 65px;
  width: 60px;
  margin-bottom: 1vh;
  /* outline: thin solid blue; */
  background-color: #f5f5f5;
  border-radius: 5px;
}
/* selected image ////////////////////////////////////*/
#selectedImg {
  position: relative;
  height: 670px;
  width: 28vw;
  background-color: #f5f5f5;
  border-radius: 10px;
}
#selectedVid {
  position: relative;
  height: 670px;
  width: 28vw;
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* Buttons/tags //////////////////////////////////*/
#buttonOverlay {
  position: absolute;
  height: 670px;
  width: 33.5vw;
  pointer-events: none;
}
#highlyRated {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3vh;
  left: 7vw;
  height: 40px;
  width: 150px;
  background-color: white;
  border-radius: 25px;
}
.nikeFont {
  font-family: "Helvetica Now Text", Helvetica, Arial, sans-serif;
}
#buttonContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 60vh;
  left: 28vw;
  height: 38px;
  width: 4.5vw;
  border-radius: 25px;
}
#galleryButton {
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 38px;
  width: 38px;
  background-color: white;
  border-radius: 100%;
}
#topFade {
  position: absolute;
  top: 0vh;
  left: 1.53vw;
  height: auto;
  width: 60px;
}
#bottomFade {
  position: absolute;
  bottom: 0vh;
  left: 1.53vw;
  height: auto;
  width: 60px;
}

/* Purchase Info Component ////////////////////////////////////////////////////////// */

#purchaseInfo {
  position: relative;
  height: fit-content;
  flex-grow: 1;
  width: 300px;
  margin-left: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* #purchaseInfo div{
  outline: thin solid orange;
} */

#klarna {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}

#klarna a {
  color: black;
}

/*  Big Pill Buttons ///////////////////////////////////////////////////////////////////// */
#addBtn,
#favoriteBtn {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
}

#addBtn {
  background-color: black;
  border: 1px solid black;
  color: white;
}

#addBtn:hover {
  background-color: #707072;
  border: 1px solid #707072;
}

#favoriteBtn {
  background-color: white;
  border: 1px solid #adadad;
}

#favoriteBtn:hover {
  border: 1px solid black;
}

#favoriteBtn svg {
  vertical-align: text-bottom;
}

/* Text below buttons///////////////////////////////////////////////////////// */
#shipping h4 {
  margin-bottom: 5px;
  font-weight: 700;
}

#shipping p {
  padding-left: 0;
  font-size: 16px;
  font-weight: 500;
}

#shipping a {
  color: black;
}

#shipping p.subtle {
  display: block;
  color: #707072;
  font-size: 14px;
}

/* Product Details//////////////////////////////////////////////////////// */
.details {
  line-height: 1.75;
  font-size: 17px;
  /* font-weight: 400; */
}

ul.details {
  padding-left: 18px;
  line-height: 1.75;
  font-size: 17px;
}

a.details {
  font-weight: 600;
  color: black;
}

/* Shoe Sizes////////////////////////////////////////////////////////////// */
.purchased {
  display: flex;
  /* border: 1px solid black; */
  padding-left: 5px;
}

.purchased h4 {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
}

.shoeTitle {
  padding: 10px;
}

.shoeTitle h1 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 2px;
}

.shoeTitle p {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 15px;
}

.shoeSelection {
  display: flex;
  flex-wrap: wrap;
}
.shoeSelection div {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-right: 4px;
  border: 1px solid #f5f5f5;
  overflow: hidden;
}

.shoeSelection div:hover {
  border: 1px solid black;
  cursor: pointer;
}

.shoeSelection img {
  height: 65px;
}

.shoeSizes {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.shoeSizes p {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 0px;
  padding-bottom: 4px;
}

.sizes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.size {
  border: 1px solid #c5c5c5;
  text-align: center;
  width: 38%;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 3px;
}

.inStock:hover {
  border: 1px solid black;
  cursor: pointer;
}

.grayedOut {
  background-color: #f5f5f5;
  color: #707072;
}
