#size_ship_rev {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  color: #292929;
  margin-left: 8rem;
  text-wrap: nowrap;
  margin-top: 100px;
  right: 1.7rem;
}

/* my changes------------------------------------------ */
.normalSizing {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  font-weight: 400;
}

.normalSizing h4 {
  font-weight: 500;
  width: 48%;
}

.normalSizing img {
  float: right;
  height: 10px;
  width: 9px;
  scale: 2;
  padding-top: 20px;
}

.bottom-border {
  position: relative;
  bottom:10px;
  width: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

/* ------------------------------------------------------------ */

.normalSizing img.star {
  position: relative;
  bottom:1.9rem;
  width: 4.5rem;
  height: 4.5rem;
}

.reviewsDiv {
  position: relative;
  bottom:6rem;
}
