#size_ship_rev {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  color: #292929;
  margin-left: 8rem;
  text-wrap: nowrap;
  margin-top: 100px;
  right: 1.7rem;
}

/* my changes------------------------------------------ */
.normalSizing {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  font-weight: 400;
  align-items: center;
  position: relative;
  bottom: 12px;
}

.normalSizing h4 {
  font-weight: 500;
  width: 48%;
}

.normalSizing img {
  float: right;
  height: 10px;
  width: 9px;
  scale: 2;
  z-index: 10;
  align-items: center;
}

/* ------------------------------------------------------------ */

img.star {
  position: relative;
  scale: 14;
  z-index: 1;
}

.reviewsDiv {
  position: relative;
  bottom: 6rem;
}

.moreReviews:hover {
  cursor: pointer;
  opacity: 0.4;
}

/* ------------------------------SIDE PANEL CSS-----------------------------*/

#review-data-id {
  /* background-color: pink; */
  position: relative;
  bottom: 5.2rem;
}

.review-user-date-class {
  height: 4.5rem;
  width: 20rem;
}

#review-data-id h3 {
  position: relative;
  top: 7rem;
  font-size: 1.05rem;
}

#review-data-id img {
  position: relative;
  right: 7.6rem;
  scale: 0.34;
  bottom: 3rem;
}

#review-data-id p {
  position: relative;
  right: -5.5rem;
  bottom: 13.95rem;
  font-size: 0.95rem;
  opacity: 0.4;
  font-weight: 300;
  text-wrap: wrap;
  line-height: 1.5;
}

.review-second-comment-class {
  position: relative;
  top: 5rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.stars-ratingValue {
  display: flex;
  width: 10rem;
  justify-content: space-evenly;
  position: relative;
  top: 1rem;
  right: 0.2rem;
  margin-bottom: -5rem;
}

.stars-ratingValue img {
  position: relative;
  top: -4rem;
  right: -3.7rem;
  width: 9rem;
}

.getStarRating {
  position: relative;
  left: 3.4rem;
  bottom:3px;
}

.list-items {
  position: relative;
  bottom: 1.5rem;
}

.list-items li {
  padding-bottom: 10px;
}

.shipping-paragraph {
  margin-bottom: 1rem;
  padding-bottom: 20px;
}

.shipping-paragraph p,
span {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}

.shipping-paragraph span {
  font-weight: 600;
  text-decoration: underline;
}

.shipping-paragraph .free {
  font-weight: 300;
  text-decoration: none;
  position: relative;
  right: 0.34rem;
}

#write-a-review{
  display:flex;
  position: relative;
  z-index: 10;
  font-weight: 600;
}

#write-a-review:hover {
  cursor: pointer;
  opacity: .3;
}

.more-reviews {
  padding-bottom: 8px;
}

.more-reviews:hover {
  cursor: pointer;
  opacity: 0.4;
}
