#size_ship_rev {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  color: #292929;
  margin-left: 8rem;
  text-wrap: nowrap;
  margin-top: 100px;
  right: 1.7rem;
}

/* my changes------------------------------------------ */
.normalSizing {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
  font-weight: 400;
  align-items: center;
  position: relative;
  bottom:12px;
}

.normalSizing h4 {
  font-weight: 500;
  width: 48%;
}

.normalSizing img {
  float: right;
  height: 10px;
  width: 9px;
  scale: 2;
  z-index: 10;
  align-items: center;
}

.bottom-border {
  position: relative;
  bottom: 10px;
  width: 100%;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

/* ------------------------------------------------------------ */

  img.star {
  position: relative;
  scale: 14;
  z-index: 1;
}

.reviewsDiv {
  position: relative;
  bottom: 6rem;
}

.moreReviews:hover {
  cursor: pointer;
  opacity: .4;
}
