#body3Heading{
    font-family:Helvetica;
    font-size: 30px;
    font-weight:500;
    padding-left: 58px;
    padding-bottom: 60px;

}

#Body3Carousel{
    padding-top: 25px;
}


.Body3Carousel .slick-track {
    height: 100%;
    padding: 0 58px;

    
}

.carousel-item


.shoeName{
    color: #111111;
    font-size: 16px;
    font-family: Helvetica;
}

.smallerText{
    color: #707072;
    font-size: 16px

}




    