
#CTLheading{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 24px;
    font-weight:400;
    padding-left: 58px;
    padding-bottom: 2px; 
}

.Body2Carousel{
    height: 300px;
    padding-bottom: 500px;
}
.Body2IMGs{
    width: 92%;
    height: 90%;
    position: relative
}

.Body2IMGs img{
    width: 92%;
    height: 90%;
    object-fit: cover;
}
.Body2Carousel .slick-track{
    height: 100%;
}

.Body2Carousel .slick-track {
    height: 100%;
    padding: 0 58px;

    
}

 .Body2Carousel .slick-slide{
    margin-right: -36px;
}


.eyeIcon{
    background-color: transparent;
    position: absolute;
    top: 91.5%;
    left: 5.6%;
    z-index: 1;
}


#SVGRepo_bgCarrier{

}

.overlay {
    position: absolute;
    top: 43%;
    right: 270px;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.hoverButton {
    position: absolute;
    top: 93%; 
    left: 7.5%; 
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: transparent; 
    
    text-align:center;
    line-height: 20px;
    font-size: 12px; 
    transition: all 0.3s ease-out;
    z-index: 4;
    border: none;
    border-radius: 50px;
    overflow:hidden;
}

.hoverButton:hover {
    width: 200px;
    color: black;
    left: calc(3.5% + 100px);
    background-color: #fff;
    z-index: 0;
}

.Body2Carousel .slick-prev,
.Body2Carousel .slick-next {
    width: 50px; 
    height: 50px; 
    background: none; 
    border: none; 
    cursor: pointer;
    top: 350px;
    
}
  
.Body2Carousel .slick-prev::before,
.Body2Carousel .slick-next::before {
    content: ''; 
    display: block;
}
  
.Body2Carousel .slick-prev {
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23f5f5f5' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(180)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23d6d6d6' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 70px;
}
  
.Body2Carousel .slick-next {
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23f5f5f5' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(0)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23d6d6d6' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      right: 80px;
}


/* Modal, and whatever this guy (kyler) is doing. yeah, thats right, i'm making my own section in here. */
#modalDim {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, .4);
    z-index: 5;
}
#theLookModal {
    display: flex;
    position: relative;
    height: 69vh;
    width: 57.5vw;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
}

/* Modal Left Side */
#lookModalLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 61.5%;
    background-color: #f0f0f0;
}
#modalImg {
    position: relative;
    height: auto;
    width: 65%;
}
#item1 {
    position: absolute;
    height: 100px;
    width: 100px;
}
#item2 {
    position: absolute;
}
#item3 {
    position: absolute;
}
#item4 {
    position: absolute;
}
/* Modal Right Side */
#lookModalRight {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 38.5%; 
    overflow-x: hidden;
    scrollbar-width: thin;
}

#closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 23px;
    left: 9.35vw;
    height: 35px;
    width: 35px;
    background-color: #f5f5f5;
    border-radius: 100px;
}
#currentSet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.5vh;
    right: 1.2vw;
    height: 38px;
    width: 63px;
    background-color: rgb(119, 119, 119);
    color: white;
    border-radius: 80px;
}
#backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.3vw;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 100px;
}
#forwardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1.3vw;
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 100px;
}
#cheats {
   position: absolute;
   bottom: 3.5vh;
   left: 5.5vw;
   height: 100px;
   width: 100px;
   background-color: #f1f1f1;
}
#cheats2 {
    position: absolute;
    left: 0vh;
    height: 85vh;
    width: 22px;
    background-color: rgb(255, 255, 255);
    z-index: 6;
}

.modalItems {
    display: flex;
    position: relative;
    top: 2.7vh;
    left: 1.2vw;
    height: 17.5vh;
    width: 100%;
    margin-bottom: 18px;
}
.itemImage {
    position: relative;
    right: 1vw;
    height: 100%;
    width: auto;
}
.itemDesc {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 100%;
    width: 20vw;
    right: 1.8vw;
    background-color: white;
}
.textBold {
    position: relative;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: large;
    font-weight: 600;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
}
.textNormal {
    position: relative;
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size:medium;
    font-style:oblique;
    font-weight: 100;
    color: #818181;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
}
.textPrice {
    position: relative;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
}
.shopText {
    position: relative;
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: medium;
    font-weight: 600;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    text-decoration: underline;
}

.textBoldHovered {
    position: relative;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: large;
    font-weight: 600;
    font-family: "Helvetica Now Text",Helvetica,Arial,sans-serif;
    color: #b4b4b4;
}


    .Body2Carousel .slick-prev,
.Body2Carousel .slick-next {
    width: 50px; 
    height: 50px; 
    background: none; 
    border: none; 
    cursor: pointer;
    top: 350px;
}
  
.Body2Carousel .slick-prev::before,
.Body2Carousel .slick-next::before {
    content: ''; 
    display: block;
}
  
.Body2Carousel .slick-prev:hover {
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23f5f5f5' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(180)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23696969' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 70px;
}
  
.Body2Carousel .slick-next:hover {
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23f5f5f5' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(0)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23696969' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      right: 80px;
}

.Body2Carousel .slick-prev {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(180)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23d6d6d6' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 70px;
}

.Body2Carousel .slick-next {
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='200px' width='200px' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-49.35 -49.35 592.16 592.16' xml:space='preserve' stroke='%23f5f5f5' stroke-width='0.00493456' transform='rotate(0)'><g id='SVGRepo_bgCarrier' stroke-width='0' transform='translate(133.23311999999999,133.23311999999999), scale(0.46)'><rect x='-49.35' y='-49.35' width='592.16' height='592.16' rx='296.08' fill='%23d6d6d6' strokewidth='0'></rect></g><g id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.986912'></g><g id='SVGRepo_iconCarrier'> <g> <g> <path d='M246.73,0C110.682,0,0.002,110.68,0.002,246.736c0,136.036,110.68,246.72,246.728,246.72s246.724-110.684,246.724-246.72 C493.454,110.68,382.778,0,246.73,0z M321.138,250.492L210.822,360.804c-2.004,2.008-5.548,2.008-7.556,0l-8.98-8.968 c-2.076-2.084-2.072-5.48,0.004-7.564l94.952-94.94c0.712-0.72,1.116-1.7,1.116-2.732c0-1.016-0.408-2.004-1.116-2.72 l-94.78-94.776c-1-1-1.56-2.344-1.56-3.792c0-1.42,0.556-2.772,1.556-3.764l8.968-8.976c1.004-1,2.352-1.556,3.78-1.556 c1.436-0.008,2.772,0.556,3.776,1.556l110.156,110.152c1.02,1.016,1.572,2.372,1.552,3.936 C322.71,248.116,322.158,249.476,321.138,250.492z'></path> </g> </g> </g></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    right: 80px;
}


.hoverDisc1, .hoverDisc2, .hoverDisc3, .hoverDisc4{
    height:13px;
    position: absolute;
    width: 13px;
    background-color: white;
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.hoverDisc1{
    left:80px;
    top: 150px;
}

.hoverDisc1:hover .disc1Div {
    display: flex;
}

.hoverDisc2{
    top:155px;
    right:105px;
}

.hoverDisc2:hover .disc2Div{
    display:flex;
}

.hoverDisc3{
    left:80px;
    bottom:200px;
}

.hoverDisc3:hover .disc3Div{
    display:flex;
}

.hoverDisc4{
    left: 220px;
    top: 330px;
}

.hoverDisc4:hover .disc4Div{
    display:flex;
}

.disc1Div, .disc2Div, .disc3Div, .disc4Div{
    position: absolute;
    display: none;
    width: 180px;
    background-color: white;
    border-radius: 12px;
    padding:5px;
}

.disc1Div svg, .disc2Div svg, .disc3Div svg, .disc4Div svg{
    align-self: center;
}

.lookItem p{
    display: block;
    margin: 0;
    padding: 2px;
}

.disc1Div, .disc4Div{
    top:15px; 
}

.disc2Div{
    top:15px;
    right:0px;
}
.disc3Div{
    bottom:15px;
}