#company_sublinks {
  color: #5f5f5f;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  display: inline-block;
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  cursor:pointer;
  margin-top: 2rem;
}

#company_sublinks h1 {
  color: white;
  background-color: transparent;
  margin-right:7rem;
  width: 2.5rem;
  left:5rem;
  margin-bottom: 18px;
}

#company_sublinks p {
  text-align: left;
  margin-left: 5.2rem;
  display: flex;
  font-size:11px;
  margin-top:-1.3rem;
}

#company_sublinks p:hover {
  color: white;
  background-color: transparent;
}
