#main_footer {
  font-size: 10px;
  height: 22.5rem;
  background-color: #111111;
  font-family: Helvetica, sans-serif;
  margin-top: 40rem;
  padding: 0;
  overflow-y: hidden;
  scrollbar-width: none;
}

#top_footer {
  display: grid;
  position: relative;
  bottom: 0vh;
  /* box-sizing: inherit; */
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#top_footer h1 {
  margin: 0;
  padding: 0.5rem;
  font-size: 10px;
  letter-spacing: -1px;
  position: relative;
}

#footer_hdr-links {
  color: white;
  background-color: transparent;
  margin-left: 11rem;
  margin-top: 2rem;
  font-size: 7.5px;
  letter-spacing: 0.2px;
  position: relative;
  text-wrap: nowrap;
}

#sub_footer {
  display: flex;
  position: relative;
  left: -17rem;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 10px;
}

.guideDiv {
  display: grid;
  position: absolute;
  width: 37rem;
  height: 9.5rem;
  border: 2px solid white;
  bottom: 5rem;
  left: 89rem;
  grid-template-columns: 1fr 1fr 1fr;
}
