#main_footer {
  height: 26rem;
  background-color: #111111;
  font-family: Helvetica, sans-serif;
  margin-top: 5rem;
  padding: 0;
  overflow-y: hidden;
  scrollbar-width: none;
}

#top_footer {
  display: grid;
  position: relative;
  bottom: 0vh;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#top_footer h1 {
  margin: 0;
  padding: 0.5rem;
  font-size: 13px;
  letter-spacing: -1.15px;
  position: relative;
  text-wrap: nowrap;
}

#footer_hdr-links {
  color: white;
  background-color: transparent;
  margin-left: 11rem;
  margin-top: 2rem;
  position: relative;
  text-wrap: nowrap;
}

#sub_footer {
  display: flex;
  position: relative;
  left: -17rem;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.guideDiv {
  display: grid;
  position: absolute;
  width: 45rem;
  height: 12rem;
  border: 2px solid white;
  bottom: 5rem;
  left: 81rem;
  color: #5f5f5f;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #111111;
}

.guide-div1 {
  display: grid;
  grid-template-columns: 1fr;
  height: 9.3rem;
}

.guide-div1 p {
  position: relative;
  top: 0.5rem;
  left: 2rem;
  margin-bottom: -25px;
}

.guide-div1 p:hover {
  color: white;
}

.guide-div2 {
  display: grid;
  grid-template-columns: 1fr;
  height: 7rem;
}

.guide-div2 p {
  position: relative;
  top: 0.6rem;
  left: 1.4rem;
  margin-bottom: -25px;
}

.guide-div2 p:hover {
  color: white;
}

.guide-div3 {
  display: grid;
  grid-template-columns: 1fr;
  height: 7rem;
}

.guide-div3 p {
  position: relative;
  top: 0.6rem;
  left: 0.5rem;
  margin-bottom: -25px;
}

.guide-div3 p:hover {
  color: white;
}
