#social_media {
  display: flex;
  position: relative;
  width: 20rem;
  height: 10rem;
  margin-left:3rem;
  margin-top: 2rem;
}

#social_media:hover {
  color: white;
}

#social_media img {
  width: 25px;
  height: 25px;
  margin-right: 1.4rem;
  scale:1.2;
}

.youtube,
.facebook,
.instagram,
.twitter {
  background-color: #7e7e7e;
}

.youtube:hover,
.facebook:hover,
.instagram:hover,
.twitter:hover {
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  background-color: white;
}
