#tos_privacy {
  color: #5f5f5f;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 12.9rem;
  margin-top: 2rem;
}

.tos_privacy {
  display: flex;
  position: relative;
  bottom: 2rem;
  left: 89.8rem;
  white-space: nowrap;
  height: 4rem;
  padding: none;
  margin: none;
}

.tos_privacy p {
  display: flex;
  offset-position: bottom;
  margin-right: 0.7rem;
  font-size: 13px;
  height: 0.7rem;
  align-items: end;
}

.tos_privacy p:hover {
  color: white;
}

.tos_privacy img {
  width: 12px;
  margin-right: 5px;
  margin-bottom: 2.5px;
}
