#tos_privacy {
  color: #5f5f5f;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 11rem;
  margin-top:2rem;
}

.tos_privacy {
  display: flex;
  justify-content: end;
}

.tos_privacy p {
  margin-right: 1.5rem;
  font-size: 9.5px;
}

.tos_privacy p:hover {
  color: white;
  background-color: transparent;
}

.tos_privacy img {
  width: 12px;
  margin-right: 5px;
}
