#tos_privacy {
  color: #5f5f5f;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 12.9rem;
  margin-top: 2rem;
}

.tos_privacy {
  display: flex;
  position: relative;
  margin-top:1.5rem;
  bottom:4rem;
  left:75.6rem;
  text-wrap: nowrap;
}

.tos_privacy p {
  margin-right: .7rem;
  font-size: 9.5px;
}

.tos_privacy p:hover {
  color: white;
  background-color: transparent;
}

.tos_privacy img {
  width: 12px;
  margin-right: 5px;
}
